.card-list {
    width: 85vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    background-color: rgb(231, 236, 229);
}

.bc {
    background-color: blue;
}